@font-face{
    src:url(fonts/Comfortaa.ttf);
    font-family: Comfortaa;
}

html, body {
  height: 100%;
}

body {
  background-color:#14243f;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  h1, h3{
      font-family:Comfortaa;
      padding: 3vh;
      text-align: center;
      margin:0;
      
  }

  h1{
    padding:0;
    color:#01c2cb;
  }

  h3{
    padding:20;
    color:#fdaf16;
  }

  
